body { font-family:Arial, Helvetica, sans-serif;
background-color: #3F5E5A;
margin: 0px;
padding: 0px;
border: 0px;
}

header {
    background-color: #388668;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 10px;
    margin: 0px;
    color: white;
    background-image:linear-gradient(to bottom, #3A7C65,#3C7261, rgba(0, 0, 0, 0.753));)background-attachment: fixed;
    
}

h1, h4{
    text-align: center; 
}

h2{
    background-color: #388668;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
    margin-bottom: 0px;padding: 0px;
    color: white;
}

p {
    text-indent: 50px;
    color: white;
}

.links {
    text-align: left;
    text-decoration: none;
    color: white;
    text-indent: 35px;
}

main {
    background-color: #1d423d;
    padding: 10px;
    margin:25px 200px 25px 200px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0,0.5);
    border-radius: 20px;
}

nav {
    background-color: darkgrey;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0,0.315)
    

}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}

nav > a:hover {
    text-decoration: underline;
}

article {
    background-color: lightgray;
}

article > aside {
    background-color: rgb(139, 138, 138);
}

footer {
    background-color: #1a3029;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0;
}

footer > p {
    margin: 0px;
    background-color: #1a3029;
}

img {
    display: block;
    margin: auto;    
}

.container {
    background-image: url(pacote-projeto-d010/imagens/html_css_js.png);
    background-size: cover;
    background-position: center;
}

@media (min-width: 768px) {
    .container {
    background-image: url('horizontal-image.jpg');
    }
}

#vid {
    padding-left: 15px;
    padding-top: 15px;
    padding-right:15px;
    padding-bottom:15px;
    background-color: #1a3029;
}